<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>4</ApplicationRevision>
    <ApplicationVersion>1.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>False</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>SGS.LEGAL.DLS</ProductName>
    <PublishDir>bin\Release\net6.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>\\twfs007\SGSSHARE\OAD\Brian\_Publish\SGS.LEGAL.DLS\</PublishUrl>
    <PublisherName>SGS</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha1RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\twfs007\SGSSHARE\OAD\Brian\_Publish\SGS.LEGAL.DLS\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <SuiteName>OAD</SuiteName>
    <ManifestCertificateThumbprint>D3F0B382595753AF53E2BC9007363486EBC3ED13</ManifestCertificateThumbprint>
    <ManifestKeyFile>Brian.pfx</ManifestKeyFile>
    <InstallUrl>\\twfs007\SGSSHARE\OAD\Brian\_Publish\SGS.LEGAL.DLS\</InstallUrl>
    <History>True|2023-08-15T06:28:44.8563039Z;True|2023-08-15T14:20:31.9905986+08:00;True|2023-08-14T18:41:37.5836854+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="money.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="SkiaSharp">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="Template\DPS.docx">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Template\DUN.docx">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Template\NTF.docx">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>