<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGS.LEGAL.DLS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SGS.LEGAL.DLS.Properties.Settings>
            <setting name="BOSS_PATH_SGS" serializeAs="String">
                <value />
            </setting>
            <setting name="BOSS_PATH_TIS" serializeAs="String">
                <value />
            </setting>
            <setting name="BOSS_PATH_FET" serializeAs="String">
                <value />
            </setting>
            <setting name="BOSS_PATH_CCS" serializeAs="String">
                <value />
            </setting>
            <setting name="FILE_FORMAT" serializeAs="String">
                <value>Ageing-{0}支票查詢Cost_Center_{1}.xlsx</value>
            </setting>
            <setting name="SGS" serializeAs="String">
                <value>台檢</value>
            </setting>
            <setting name="TIS" serializeAs="String">
                <value>台工</value>
            </setting>
            <setting name="FET" serializeAs="String">
                <value>遠東</value>
            </setting>
            <setting name="CCS" serializeAs="String">
                <value>程智</value>
            </setting>
        </SGS.LEGAL.DLS.Properties.Settings>
    </userSettings>
</configuration>